@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff77;
}

::-webkit-scrollbar-thumb {
    background-color: #00000077;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #25252577; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #59595977;
}

body {
    overflow-x: hidden;
    width: 100%;
    animation: colorchange 20s infinite;
}

#main-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-page #hero-content{
    display: flex;
    flex-direction: column;
}

#main-page #hero-content .header{
    text-align: center;
    font-size: 8rem;
}

#main-page #hero-content .description{
    font-size: 20px;
}

#contact img{
    margin: 15px;
    width: 4vw;
}

.socialicons{
    transition: filter .3s ease-in-out;
}

.socialicons:hover{
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(75deg) brightness(107%) contrast(103%);
}

.btn{
    text-decoration: none;
    margin-top: 20px;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
}

.btn:hover{
    border-color: #000;
    background-color: #000;
    color: #fff;
}

#about-me{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-side{
    width: 50vw;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.left-side .header{
    font-size: 50px;
    color: #000000;
    margin-bottom: 30px;
}

.right-side img{
    width: 350px;
    border-radius: 100%;
}

.left-side .description{
    width: 40vw;
    font-weight: 300;
}

@keyframes colorchange{
    0%   {background: rgb(147, 135, 255);}
    33%  {background: rgb(255, 182, 122);}
    66%  {background: rgb(255, 120, 120);}
    100% {background: rgb(128, 147, 255);}
}

@media (max-width: 1200px) {
    #contact img{
        width: 6vw;
    }
}

@media (max-width: 708px) {

    #hero-content .description{
        text-align: center;
    }

    #about-me{
        flex-direction: column-reverse;
    }

    #contact img{
        width: 12vw;
    }

    .left-side{
        height: 60vh;
    }

    .right-side{
        margin-top: 30px;
    }

    .left-side .description{
        text-align: center;
        width: 70vw;
    }
    .right-side img{
        width: 40vw;
    }
    #main-page #hero-content .header{
        font-size: 4rem;
    }
}