@font-face {
    font-family: CutiePatootie;
    src: url('fonts/CutiePatootieSkinny-8zXZ.eot');
    src: url('fonts/CutiePatootieSkinny-8zXZ.woff2') format('woff2'),
         url('fonts/CutiePatootieSkinny-8zXZ.woff') format('woff'),
         url('fonts/CutiePatootieSkinny-8zXZ.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'CutiePatootie';
    font-size: 25px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#selfie {
    height: 250px;
    width: auto;
    border-radius: 100%;
}

#hero-content, #contact {
    text-align: center;
}

#hero-content h1, #contact p {
    margin: 0;
    letter-spacing: 3px;
}

#contact {
    margin-top: 50px;
}

#contact p {
    font-weight: bold;
    font-size: 30px;
}