@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html, body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100%;
    font-weight: 300;
}
h1, h2, p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999; 
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
}

#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
}
#hero-content {
    text-align: center;
}

#hero-content .header {
    font-size: 90px;
    display: block;
}

#hero-content .description {
    font-size: 20px;
    display: block;
}

#contact {
    text-align: center;
    margin-top: 50px;
}

#contact img {
    height: 60px;
    width: auto;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
}

.btn1 {
    margin-top: 50px;
    color: black;
    border: 3px solid #555555;
    border-radius: 5px;
}
  
.btn1:hover {
    background-color: #555555;
    color: white;
}

#about-me {
    margin: 30px 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

#about-me img {
    height: 350px;
    width: auto;
    border-radius: 100%;
}

#about-me .left-side {
    text-align: center;
}

#about-me .left-side * {
    margin-bottom: 30px;
}

#about-me .header {
    font-size: 50px;
    display: block;
}

#about-me .description {
    font-size: 20px;
    display: block;
}